rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Apenas o usuário dono do ID especificado na pasta pode ler ou gravar ali.
    match /notas_fiscais/{userId}/{fileName=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /assinaturas/{userId}/{fileName=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
