@import "tailwindcss";

@theme {
  --color-primary-blue: #195de6;
}

@layer base {
  html {
    font-size: 15px;
  }

  body {
    background-color: var(--color-slate-50, #f8fafc);
    color: var(--color-slate-900, #0f172a);
    line-height: 1.4;
  }
}